body {
    background-color: #00CCFF;
    color: #005F80;
    font-family: "Work Sans", system-ui;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #00B2FF;
    color: #3D1F77;
 font-family: "Work Sans", system-ui;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;
}
